* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Comfortaa", cursive;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.calc-container {
  width: 32rem;
  height: 46rem;
  background-color: grey;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 2rem;
}
.upper-screen {
  background-color: #ffeaf5;
  width: 28rem;
  height: 4rem;
  margin: auto;
  margin-top: 2rem;
}
#upper-screen-content {
  font-size: 2rem;
}
.lower-screen {
  background-color: #ffeaf5;
  width: 28rem;
  height: 2.5rem;
  margin: auto;
  position: relative;
}

#lower-screen-content {
  border: 1px solid;
  width: min-content;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2.5rem;
}
.button-container {
  width: 28rem;
  height: 28rem;
  margin: auto;
  margin-top: 2rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* gap: 2rem; */
  justify-content: center;
  background-color: #232325;
}

.number,
.operator,
.decimal,
.equals {
  width: 7rem;
  height: 7rem;
}

.row.five {
  display: flex;
  width: 28rem;
  margin: auto;
  background-color: #232325;
}
.function {
  flex-grow: 1;
  height: 5rem;
}
button {
  background: radial-gradient(circle at bottom center, #6b6b6b 15px, #343338);
  border: 2px solid #232325;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: #ffeaf5;
  cursor: pointer;
}
button:focus {
  background: radial-gradient(circle at bottom center, #d4818c 15px, #e26ba3);
  color: #232325;
}

/* 1234
5678
 */
